body
{
	background-color:silver;
}
form
{
	background-color:cyan;
	width: 90%;
	padding:80px;
	margin-left:20px;
	border:2px dotted;
}
label
{
	font-family:Times New Roman;
	font-weight:bolder;
	color:red;
}
.btn
{	
margin-top:25px;
width:100px;
color:blue;
height:40px;	
font-weight:bolder;
color:white;
}