form
{
	margin-top: 20px;
	border-radius: 20px;

}
.btn
{
	background-color: rgb(19, 190, 33); /* Blue background */
	border: none; /* Remove borders */
	color: white; /* White text */
	padding: 12px 16px; /* Some padding */
	font-size: 16px; /* Set a font size */
	cursor: pointer; /* Mouse pointer on hover */
}
  
  /* Darker background on mouse-over */
.btn:hover 
{
	background-color: rgb(32, 177, 68);
}

.doctor_show
{
	border: 2px solid !important;
	border-radius: 10px !important;
	background-color: rgb(239, 241, 75) !important;
}

